#header {
    margin-top: 6rem;
    text-align: center; }
.value-img {
    display: block;
    text-align: center;
    max-height: 6rem;
    margin: 2.5rem auto 0; }
a:hover {
    color: #eeeeee;
}

footer > * > * > a:hover {
  color: black;
}

footer {
  background-color: #feeab4;
}

/* Larger than phone */
@media (min-width: 550px) {
    #header {
        margin-top: 12rem; }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem; }
    .value-img {
        margin-bottom: 1rem; }
}

/* Larger than tablet */
@media (min-width: 750px) {
}